# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.pytest_cache/
*.db
*.sqlite3

# Node & Frontend
node_modules/
dist/
.env.local
.env.*.local
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Flutter / Dart
.dart_tool/
.packages
build/
.flutter-plugins
.flutter-plugins-dependencies

# PlatformIO & Firmware
.pio/
.vscode/.browse.c_cpp.db*

# IDE & OS
.DS_Store
Thumbs.db
*.swp
*.swo
